* {
  margin: 0;
  padding: 0;
}
body {
  color: #959595;
  font-size: 14px;
  font-family: '微软雅黑';
}
a {
  color: #959595;
  text-decoration: none;
}
img {
  vertical-align: bottom;
}
.txtR {
  text-align: right;
}
.txtC {
  text-align: center;
}
.logo {
  margin: 20px auto;
  width: 180px;
  height: 65px;
  background: url(m-sprite.png) 0 -205px no-repeat;
}
.form {
  margin-bottom: 57px;
}
.form .row {
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}
.form .row.borderB {
  border-bottom: 1px solid #bebebe;
}
.form .row.protocol {
  margin-top: 40px;
}
.form .row .button {
  display: block;
  width: 100%;
  outline: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #bebebe;
  background-color: #FFF;
  color: #959595;
  font-family: '微软雅黑';
  font-size: 16px;
}
.form .row .button.submit {
  border-color: #48cb75;
  background-color: #48cb75;
  color: #FFF;
}
.form .row .error-tips {
  color: #D81212;
  padding-left: 70px;
}
.form .row input {
  outline: none;
  border: none;
  width: 70%;
  color: #000;
}
.form .row input.verify-inp {
  width: 100px;
}
.form .row .login-btn {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: url(m-sprite.png) no-repeat;
  transform: scale(0.8, 0.8);
}
.form .row .login-btn.login-qq {
  background-position: 0 -100px;
}
.form .row .login-btn.login-wechat {
  background-position: 0 0;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e4e4e4;
  background-color: #f1f1f1;
  font-size: 12px;
}
